In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import datetime
from datetime import datetime as dt
import time

%matplotlib inline

In [2]:
# Read dataset into the notebook
df46A = pd.read_csv('46a.csv')

In [3]:
# Read dataset into the notebook
df46AStops = pd.read_csv('46a_stoptimes.csv')

In [4]:
df46A.head(5)

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Operator,Congestion,Lon,Lat,Delay,BlockID,VehicleID,StopID,AtStop
0,1970-01-16 15:36:00.000,46,0,046A1002,2012-11-05,7267,D2,0,-6.259093,53.345425,-1101,46004,36024,794,0
1,1970-01-16 15:36:00.039,46,0,046A1002,2012-11-05,7267,D2,0,-6.255533,53.346035,-1043,46004,36024,320,1
2,1970-01-16 15:36:00.059,46,0,046A1002,2012-11-05,7267,D2,0,-6.255517,53.346035,-1043,46004,36024,320,1
3,1970-01-16 15:36:00.079,46,0,046A1002,2012-11-05,7267,D2,0,-6.252850,53.345901,-1043,46004,36024,320,1
4,1970-01-16 15:36:00.098,46,0,046A1002,2012-11-05,7267,D2,0,-6.252850,53.345901,-983,46004,36024,320,1

In [5]:
df46AStops.head(5)

,?trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,is46A
0,12564.3514.0-46A-b12-1.308.O,07:00:00,07:00:00,8220DB000807,1,Dun Laoghaire,0,0,0.000000,True
1,12564.3514.0-46A-b12-1.308.O,07:01:03,07:01:03,8220DB000808,2,Dun Laoghaire,0,0,343.962310,True
2,12564.3514.0-46A-b12-1.308.O,07:01:36,07:01:36,8220DB000809,3,Dun Laoghaire,0,0,535.012042,True
3,12564.3514.0-46A-b12-1.308.O,07:02:28,07:02:28,8220DB000810,4,Dun Laoghaire,0,0,841.908087,True
4,12564.3514.0-46A-b12-1.308.O,07:03:00,07:03:00,8220DB000811,5,Dun Laoghaire,0,0,1032.448991,True

In [7]:
# Read dataset into the notebook
dfS = pd.read_excel(open('db_master_2013.xlsx','rb'), sheetname='Sheet 1')

FileNotFoundError: [Errno 2] No such file or directory: 'db_master_2013'

In [ ]:
dfS.head(5)

In [ ]:
df.to_csv('file.csv',encoding='utf-8-sig')